<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@Page.Title - CulinaireTaxi</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/favicon.ico" />

    <environment include="Development">
        <link rel="stylesheet" href="~/Assets/css/materialize.css" />
        <link rel="stylesheet" href="~/Assets/css/site.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/Assets/css/materialize.css" />
        <link rel="stylesheet" href="~/Assets/css/site.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </environment>
</head>
<body>

    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a href="~/" id="logo-container" class="brand-logo">CulinaireTaxi</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/Restaurants">Restauranten</a></li>
                <li><a href="/Contact">Taxi's</a></li>

                @*<li style="margin-left:40px"><partial name="~/Pages/Shared/_LoginPartial" /></li>*@
                @if (WebSecurity.IsAuthenticated)
                {
                    <li><a href="~/Dashboard/Dashboard">Dashboard</a></li>
                    <li><a href="~/Manage">Bedrijf beheren</a></li>
                    <li><a class="email" href="~/Account" title="Profiel">@WebSecurity.CurrentUserName</a></li>
                    <li>
                        <form id="logoutForm" action="~/Account/Logout" method="post">
                            @AntiForgery.GetHtml()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                        </form>
                    </li>

                }
                else
                {
                    <li><a href="~/Account/Register">Register</a></li>
                    <li><a href="~/Account/Login">Log in</a></li>
                }
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a asp-page="/Restaurants">Restauranten</a></li>
                <li><a asp-page="/About">Taxi's</a></li>
                <li><a asp-page="/Contact">Contact</a></li>
                <partial name="_LoginPartial" />
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    
        @RenderBody()
    
        
        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Het Concept</h5>
                        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae egestas lacus, 
                        id tristique ex. In luctus dignissim bibendum. Fusce in gravida arcu.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Snelkoppelingen</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">Mijn account</a></li>
                            <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
                            <li><a class="grey-text text-lighten-3" href="~/Pages/Privacy">Privacybeleid</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <a class="brown-text text-lighten-3">&copy; 2019 - CulinaireTaxi</a>
                </div>
            </div>
        </footer>
    

    <environment include="Development">
        <script src="~/Assets/lib/jquery/dist/jquery.js"></script>
        <script src="~/Assets/js/materialize.min.js"></script>
        <script src="~/Assets/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/Assets/lib/jquery/dist/jquery.js"></script>
        <script src="~/Assets/js/materialize.min.js"></script>
        <script src="~/Assets/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
